.disScreen{
    width:389px;
    height: 60px;
    background: #82c0ac;
    
    margin-bottom:  25px;
    margin-top:10px;
    margin-left:10px;
    text-align: right;
    font-size: 50px;
    color: #024e36;

}
#AC,#cb {
    background: rgb(243, 77, 110);
    width: 94px;
    height: 38px;
    color: white;
    border-radius: 15px;
    margin-left:20px;
    border:1px solid #5f90e0;
    font-size: x-large;
}

#cb{
    background: rgb(243, 116, 77);
}


.r1{
    margin-top:  15px;
    margin-left: 20px;
}
.but{
    width: 80px;
    height: 80px;
   margin: 5px;
    font-weight: bolder;
    font-size: x-large;
    color:rgb(95, 58, 10);
    border:1px solid #5f90e0;
   
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%),
 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 15px;

}
#outer{
    width:416Px;
    border:1px solid rgb(5, 69, 143);
 margin-top:50px;
    margin-left: 36%;
    padding: 10px;
    background:rgb(246, 246, 252);
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%),
 0 8px 16px rgb(0 0 0 / 10%);
 border-radius: 25px;
    
}