body{margin:0px;}

#welcome{


height:250px;
margin:auto;

display:flex;
justify-content: center;
align-items: center;
}
#home{
   
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    height: 40px;
    background-color: #2883c5
}
input[type=radio]{

  accent-color: #2883c5
}

#fileName{

color: white;

}
#newInputDiv{
    display:flex;
    justify-content: center;
    width:100%;
    height:25px;
    background-color: white;
    padding:6px;
   
    z-index:1;
}


.newInput{
    background-color:#e0effa;
    border:none;
    width:40%;
    height: 40px;
}
.leftEnd{
    background-color: #3498db27;
    padding-top: 10px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    width:fit-content;
    height: 32px;
}


.rightEnd{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

  table{
    cursor: default;
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
    font-size: 14px;
    line-height: 19px;
    color: #212121;
  
   
}
tr:nth-child(even) {
    background-color: #e0effa;
  }

  button {
    border: 0;
    outline: 0 none;
    border-radius: 8px;
    background-color: white;
    color: #3498db;
    font-weight: bold;
    cursor: pointer;
  
  }
  label{
    font-family: lato, sans-serif;
    font-size: 16px;
   text-align: center;
    transition: transform 0.7s ease;
    color: #fff;

  }
  label:hover{
    background-color: rgb(186, 230, 243);
    color: rgb(58, 39, 4);
    cursor: pointer;
    transform: scale(1.25);
    transition-duration: 0.3s;
}
#container{

    padding-left:3px;
  margin:auto;
 width:fit-content;
}
#title{  
  margin:auto;  
  margin-top: 17px;
       
        width: fit-content;
        border-bottom: 1px solid #ebd9caab;;
}
input:focus{
        outline: 0!important;
        box-shadow: none;
}

#counter{
        margin: 1px;
        cursor: default;
}
.searchInput{
        display: flex;
        align-items: center;
        justify-content: center;
}

#excel-file {
            display: none;
        }

.custom-file-input {
            min-width:87px;
            margin-top: 1px;
            display: inline-block;
            padding: 5px 7px;
            font-size: 10px;
            
            border: 2px solid #c2dff2;
            color: #0863a0;
            border-radius: 10px;
            background-color: #fff;
}


