 @font-face {
        font-family:Arima;
        src: url("https://geevar007.github.io/cardmaker/Arima.ttf");
    }
    @font-face {
        font-family:Anek;
        src: url("https://geevar007.github.io/cardmaker/Anek.ttf");
    }


    @font-face {
        font-family:Balu;
        src: url("https://geevar007.github.io/cardmaker/Balu.ttf");
    }
    @font-face {
        font-family:Chilanka;
        src: url("https://geevar007.github.io/cardmaker/Chilanka.ttf");
    }

    @font-face {
        font-family:Gayathri;
        src: url("https://geevar007.github.io/cardmaker/Gayathri.ttf");
    }
    @font-face {
        font-family:Gayathri-R;
        src: url("https://geevar007.github.io/cardmaker/Gayathri-R.ttf");
    }


    @font-face {
        font-family:Gayathri-Thin;
        src: url("https://geevar007.github.io/cardmaker/Gayathri-Thin.ttf");
    }
    @font-face {
        font-family:Manjari-Bold;
        src: url("https://geevar007.github.io/cardmaker/Manjari-Bold.ttf");
    }

@font-face {
        font-family:Manjari-Regular;
        src: url("https://geevar007.github.io/cardmaker/Manjari-Regular.ttf");
    }
    @font-face {
        font-family:Manjari-Thin;
        src: url("https://geevar007.github.io/cardmaker/Manjari-Thin.ttf");
    }


    @font-face {
        font-family:Noto;
        src: url("https://geevar007.github.io/cardmaker/Noto.ttf");
    }
    @font-face {
        font-family:Noto1;
        src: url("https://geevar007.github.io/cardmaker/Noto1.ttf");
    }